#menu {
	background-color: #0099d8;
	padding: .3em 0;
	margin: 0;
}
#menu li {
	float: left;list-style: none;
	
}
#menu li:first-child a,
#menu li:first-child strong {
	padding-left: 1em;
	
}
#menu li a,
#menu li strong {
	font-size: 1.2em;
	font-weight: bold;
	padding: .25em 2em;
	color: #fff;
	background-color: #0099d8;
}
#menu li a:hover,
#menu li strong {
	background-color: #66bce3;
}