
#header .header {
	text-indent: 990em;
	white-space: nowrap;
	overflow: hidden;
	width: 27.5em;
	height: 9em;
	padding: 0;
	margin: 0;
	background: url('img/ccv-logo.gif') no-repeat 0 2em;
	display: block;
}
#meta {
	position: absolute;
	right: 0;
	top: 5px;
	padding: 0;
	margin: 0;
}
#footer li,
#meta li {
	float: left;
	padding: .2em;
	margin: .1em;
	list-style: none;
	
}

#meta a {
	color: #000;
	border-left: 1px solid #028fd4;
	padding-left: 7px;
}
#meta li:first-child a {
	border-left: 0;
}
#header form {
	position: absolute;
	top: 4em;
	right: 0;
}
#header label {
	position: absolute;
	right: 999em;
}
#header form input {
	border: 1px solid #028fd4;
}
#header button {
	border: 0;
	background-image: none;
	background-color: transparent;
	color: #028fd4;
	font-weight: bold;
	padding: 0;
}

#header p {
	width: 300px;
	color: #028fd4;
}
#header div p {
	width: 100%;
}


/* end header */